* {
    margin: 0 auto;
    padding: 0;

    text-align: center;
}

.remove-btn {}

.purchase-total {}

.ordered-item-name {}

.ordered-item.price {}

.header {}

.clear-btn {}

.add-btn {}

.restaurant-menu {}

.customer-details {
    border: 1px solid red;
    width: 50%;
    text-align: left;
    display: inline-block;
    justify-content: center;
    margin: 0 auto;

}

#container {
    text-align: center;
}

#container .form-container {
    display: inline-block;
}

#container form {
    background: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
}

#container form .column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#container form .column label {
    text-align: right;
}

.hidden {
    display: none;
}

.header-img {
    width: 37.5em;
    position: relative;

}

.img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.header-container {
    position: relative;
    width: 100%;
}

.store-name {
    position: absolute;
    top: 0;
    width: 100%;


}

.store-name h1,
.store-name p {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: normal;
}

.store-name h1 {
    font-size: 2.4375rem;
}

.store-name p {
    font-size: 1.5rem;
}

.menu-here {
    background-color: #FFFFFF;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 420px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
}